
{% extends 'layouts/layout.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINTIC</title>
    {% load static%}
	
	<link rel="stylesheet" href='{% static "css/cita.css" %}' type="text/css" >
	<link rel="stylesheet" href='{% static "css/main.css" %}' type="text/css" >
    
</head>
<body>


    <section id="main-content">
		<h1>Pedir una cita</h1>
		<article>
			<div id="izquierda">
				<div id="grid"> 
				
				</div>
				<div id="grid"> 
				
				</div>
				<div id="grid">

				</div> 
			
				<div id="grid"> 
				</div>
				<div id="grid"> 
				
				</div>
			
			
		</article> <!-- /article -->
	
	</section> <!-- / #main-content -->

</body>
</html>


{% endblock %}