
{% extends 'layouts/layout.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINTIC</title>
    {% load static%}
	<link rel="stylesheet" href='{% static "css/main.css" %}' type="text/css" >
	<link rel="stylesheet" href='{% static "css/home.css" %}' type="text/css" >
	
    
</head>
<body>


    <section id="main-content">
		<h1 id="titulo">Pedir una cita</h1>
		<article>
			<div id="grid">
			<div>
				
				<div>
					<img id="foto" src="{% static 'image/imagen1.png' %}" alt=""  hspace="5" vspace="5" style="float: right;" />
				 <p class="descripcion">Nos hemos actualizado para ti, ahora en adelante podras pedir tus citas
					 de forma virtual y dile adios a las largas filas con nuestra nueva pagina web.
					<br>
					reserva tu cita aqui
					 </div>
				</p>
			<input id="acceder" type="submit" value="PEDIR CITA">
			<img src="" alt="" />
			</div>

			<div class="content-footer">
                       
				
			</div>
			
		</article> <!-- /article -->
	
	</section> <!-- / #main-content -->

</body>
</html>


{% endblock %}