
{% extends 'layouts/layout.html' %}

{% block title %}Registrarse{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINTIC</title>
    {% load static%}
	<link rel="stylesheet" href='{% static "css/registrarme.css" %}' type="text/css" >
    
</head>
<body>


    <section id="content">
	
		<article>

			<img src="" alt="" />

			<div class="content-footer">

                <form id="form-register-usuarios"  method="POST">
    
                        <div id="formulario">
                            <div>
                                <h1>Registrarse</h1>
                            </div id="django">
                            {{ formulario.as_p }}{% csrf_token %}
            
                            <div>
                                
                                <input id="acceder" type="submit" value="Acceder">
                            </div>
                        </div>
				<p></p>
				<p></p>

			</div>
			
		</article> <!-- /article -->
	
	</section> <!-- / #main-content -->

</body>
</html>


{% endblock %}