.descripcion{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-around;
    margin-left: 20px;
    padding: 56px;
  
}

.llamado{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-around;
    margin-left: 56px;
    color: red;
}
#acceder{
    background-color: rgba(114, 186, 224, 88);;
    width: 200px;
    height: 30px;
    color:rgba(20, 20, 64, 25);
    border: none;
    margin-left: 76px;
}

#foto{
    margin: 0%;
    width: 33%;
}

#grid{
    display: grid;
    grid-row: 1fr 1fr;
}
#titulo{
    text-align: start;
    margin: 8px 76px -46px;
    padding-top: 19px;
}